.some-of-our-work{
	width: 80%;
	margin: 0 auto;
	text-align: center;	
}


.line-pink {
	background-color: #f38181;
	width:60px;
	height:3px;
	margin: 2% auto; 
}


.banner_happy{
	width: 100%;
    height: 832px;
    background: url('../img/bg+gradient_2.png') no-repeat center top;
    text-align: center;
}

.recommends{
	margin: 0 auto;
	width:80%;
	margin-top: 83px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding:0 56px 0 39px;
}
.recommend__client{
	display:flex;
	width: 45%;
    margin-bottom: 5%;
}
.recommend__client img{
	width: 112px;
	height: 112px;
}
.recomend_text{
	position: relative;
	display: flex;
	width: 273px;
	flex-direction:column;
	margin-left:23px;
	width:100%;
}
.recomend_text .teammate_position::after{
	content: 80%;
    display: block;
    position: absolute;
    width: 62px;
    height: 5px;
    background-color: #f38181;
    top:85px;
    
}
.client_name, .teammate_position{
	align-self:flex-start;
	padding: 2%;
	
}

.client-line{
	margin: 3%;

}

.client_recommends{
    text-align: left;
    margin-top: 3%;
    margin-left: 2%;
	
}

.client_name{
	margin: 2% 1%;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}